{% extends "base.html.twig" %}

{% block content %}
    <h3>Perfiles</h3>
    <a href="{{ absolute_url('create') }}">Crear perfil</a>
    <table>
        <thead>
        <tr>
            <th>Nombre del perfil</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.name }}</td>
                <td>
                    <a href="{{ absolute_url(profile.id) }}">editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}